<h1> Party </h1>

<% @characters.each_slice(2) do |character_pair| %>
  <div class="row mb-4">
    <% character_pair.each do |character| %>
      <div class="col-lg-6 col-md-12 mb-3">
        <div id="character-<%= character.id %>" class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= character.name %></h5>
            <p class="card-text">Race: <%= character.dnd_race %></p>
            <p class="card-text">Class: <%= character.dnd_class %></p>
            <% if character.image_url %>
              <%= image_tag(character.image_url, alt: character.name, class: "img-fluid") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>