<div class="container align-text-center">
  <div class="row">
    <div class="col">
      <div class="overlay-content">
        <h1> Resource Management for <%= @campaign.name %> </h1> <br>
        <h1> * Week <%= @campaign.week %> * </h1>
        <br>

        <h2>Current Resources</h2>
        <br>
        <section class="current_resources">
          <h4>Villagers: <span style="text-decoration: underline;"><%= @campaign.villagers %></span></h4> </br>
          <h4>Resources</h4>
          
          <div class="table-container">
            <table>
              <tr>
                <td>Animal Products:</td>
                <td><%= @campaign.animal_products %></td>
              </tr>
              <tr>
                <td>Cloth:</td>
                <td><%= @campaign.cloth %></td>
              </tr>
              <tr>
                <td>Farmed Goods:</td>
                <td><%= @campaign.farmed_goods %></td>
              </tr>
              <tr>
                <td>Food:</td>
                <td><%= @campaign.food %></td>
              </tr>
              <tr>
                <td>Foraged Goods:</td>
                <td><%= @campaign.foraged_goods %></td>
              </tr>
              <tr>
                <td>Metal:</td>
                <td><%= @campaign.metal %></td>
              </tr>
              <tr>
                <td>Monster Parts:</td>
                <td><%= @campaign.monster_parts %></td>
              </tr>
              <tr>
                <td>Stone:</td>
                <td><%= @campaign.stone %></td>
              </tr>
              <tr>
                <td>Wood:</td>
                <td><%= @campaign.wood %></td>
              </tr>
            </table>
          </div>
        </section>
  
        <br>

        <h2> Management Form </h2> <br>
        <section class="management_form">
          <%= form_with url: campaign_management_update_path(@campaign.id), method: :patch, data: {turbo: false} do |form| %>
            <h4> Assign Villagers:
              <a href="#" data-toggle="tooltip" placement="right" title= "<%=villager_distribution_info%>"> <i class="fas fa-question-circle ml-2 black-link"></i> </a>
            </br> <%= @campaign.villagers %> Available </h4>
            <div class="container-flex">
              <div class="form-group">
                <%= form.label :food, "Food:", class: "management-label" %>
                <%= form.number_field :food, value: @management_form.food, class: "management-qty-field" %>
              </div>

              <div class="form-group">
                <%= form.label :farmed_goods, "Farmed Goods:", class: "management-label" %>
                <%= form.number_field :farmed_goods, value: @management_form.farmed_goods, class: "management-qty-field" %>
              </div>

              <div class="form-group">
                <%= form.label :foraged_goods, "Foraged Goods:", class: "management-label" %>
                <%= form.number_field :foraged_goods, value: @management_form.foraged_goods, class: "management-qty-field" %>
              </div>

              <div class="form-group">
                <%= form.label :wood, "Wood:", class: "management-label" %>
                <%= form.number_field :wood, value: @management_form.wood, class: "management-qty-field" %>
              </div>

              <div class="form-group">
                <%= form.label :stone, "Stone:", class: "management-label" %>
                <%= form.number_field :stone, value: @management_form.stone, class: "management-qty-field" %>
              </div>

              <div class="form-group">
                <%= form.label :metal, "Metal:", class: "management-label" %>
                <%= form.number_field :metal, value: @management_form.metal, class: "management-qty-field" %>
              </div>

              <div class="form-group">
                <%= form.label :cloth, "Cloth:", class: "management-label" %>
                <%= form.number_field :cloth, value: @management_form.cloth, class: "management-qty-field" %>
              </div>

              <div class="form-group">
                <%= form.label :animal_products, "Animal Products:", class: "management-label" %>
                <%= form.number_field :animal_products, value: @management_form.animal_products, class: "management-qty-field" %>
              </div>

              <div class="form-group">
                <%= form.label :monster_parts, "Monster Parts:", class: "management-label" %>
                <%= form.number_field :monster_parts, value: @management_form.monster_parts, class: "management-qty-field" %>
              </div>
            </div>

            <br>

            <h4> Item Crafting:
              <a href="#" data-toggle="tooltip" placement="right" title= "<%=item_crafting_info%>"> <i class="fas fa-question-circle ml-2 black-link"></i> </a>
            </h4>

            <%= form.label :item_1, "Craft a:" %>
            <%= form.select :item_1, @all_items, :include_blank => true, selected: @management_form %>
            <%= form.label :item_1_quantity, "Quantity:" %>
            <%= form.number_field :item_1_quantity, value: 0, class: "management-qty-field" %> <br><br>

            <%= form.label :item_2, "Craft a:" %>
            <%= form.select :item_2, @all_items, :include_blank => true %>
            <%= form.label :item_2_quantity, "Quantity:" %>
            <%= form.number_field :item_2_quantity, value: 0, class: "management-qty-field" %> <br><br>

            <%= form.label :item_3, "Craft a:" %>
            <%= form.select :item_3, @all_items, :include_blank => true %>
            <%= form.label :item_3_quantity, "Quantity:" %>
            <%= form.number_field :item_3_quantity, value: 0, class: "management-qty-field" %> <br><br>

            <%= form.label :item_4, "Craft a:" %>
            <%= form.select :item_4, @all_items, :include_blank => true %>
            <%= form.label :item_4_quantity, "Quantity:" %>
            <%= form.number_field :item_4_quantity, value: 0, class: "management-qty-field" %> <br><br>

            <%= form.submit "Update" %>
          <% end %>
        </section>

        <br>

        <%# Only show this button if current_user.id == @campaign's DM's ID %>
        <% if @current_role == 'dm' %>
          <%= button_to "Advance Week", campaign_management_advance_path(@campaign.id), method: :post %>
        <% end%>
      </div>
    </div>
  </div>
</div>