<div class="container align-text-center">
  <div class="overlay-content">
    <section id="campaign_summary">
    <h1>Summary for <%= @campaign.name %> </h1> 
      <div class="row">
        <div class="col">
          <h1> * Week <%= @campaign.week %> *</h1> </br>
          <h4> Villagers: <span style="text-decoration: underline;"><%= @campaign.villagers %></span></h4> </br>

          <section id="campaign_summary_resources">
            <h3> Resources </h3>
            <div class="table-container">
            <table>
              <tr>
                <td>Animal Products:</td>
                <td><%= @campaign.animal_products %></td>
              </tr>
              <tr>
                <td>Cloth:</td>
                <td><%= @campaign.cloth %></td>
              </tr>
              <tr>
                <td>Farmed Goods:</td>
                <td><%= @campaign.farmed_goods %></td>
              </tr>
              <tr>
                <td>Food:</td>
                <td><%= @campaign.food %></td>
              </tr>
              <tr>
                <td>Foraged Goods:</td>
                <td><%= @campaign.foraged_goods %></td>
              </tr>
              <tr>
                <td>Metal:</td>
                <td><%= @campaign.metal %></td>
              </tr>
              <tr>
                <td>Monster Parts:</td>
                <td><%= @campaign.monster_parts %></td>
              </tr>
              <tr>
                <td>Stone:</td>
                <td><%= @campaign.stone %></td>
              </tr>
              <tr>
                <td>Wood:</td>
                <td><%= @campaign.wood %></td>
              </tr>
            </table>
          </div>
          </section>
        </div>
      </div> </br>

        <section id="campaign_summary_items">
          <div class="row">
            <h3>Owned Items</h3>
            <table>
              <% @items.each_slice(2) do |item_pair| %>
                <tr>
                  <% item_pair.each do |item| %>
                    <td><%= item.name.titleize %>:</td>
                    <td><%= item.quantity %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>