<!DOCTYPE html>
<html>
  <head>
    <title> Welcome to The Sunken Isles! </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%= render partial: "shared/banner" %>
  <%= render partial: "shared/navbar" %>

  <body>
    <section class="main_content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>

